@keyframes pisca{
    0% { opacity:0.2 ;}
    50%{opacity:1}
    100%{opacity: 0.2;}
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.urna{
background-color: #dbd5c9;
padding: 30px;
display: flex;
}

.tela{
width: 500px;
height: 320px;
background: linear-gradient(to right, #e8e8e8);
border: 2px solid #555;
display: flex;
flex-direction: column;
}

.teclado{
    margin-left: 30px;
background-color: #403a3a;

}
.teclado--linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado--botao{
    width: 70px;
    height: 40px;
    background: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
    cursor: pointer;
}

.botao--branco{
    background-color: white;
    color: black;
    font-size: 15px;

}
.botao--corrige{
    background-color: #F09046;
    color: #000;
    font-size: 15px;

}
.botao--confirma{
    background-color: #48c079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;

}

.d-1{
flex: 1;
display: flex;
}
.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d1-1{
    height: 50px;
    display: flex;
    align-items: center;
    
}
.d1-2{
    height:50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.d1-3{
    height: 50px;
    
}
.numero{
    display: inline-block;
    width: 40px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d1-image{
    border: solid 1px black;
    background-color: #fff;
    text-align: center;
    font-size: 14px;    
}
.d1-image img{
    width: 100%;
}
.d1-image.small {
    width: 80%;
    font-size:12px ;
}
.d-1-4{

    flex:1;
    
    line-height: 30px;
}
.d-2{
height: 50px;
font-size: 14px;
border-top: 2px solid #000;
padding-left: 10px;
}

.aviso--grande{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    width: 123%;
    line-height: 102%;
}

.fim{
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    justify-content: center;
}